.container img {
  max-width: 45px;
  min-width: 40px;
  background-size: cover;
  padding-bottom: 24px;
  padding-right: 7px;
}

.nombre-company {
  color: red;
  font-size: 40px;
}

.letter-g {
  font-size: 54px;
}

.carousel-item img {
  max-width: 100%;
  min-height: 300px;
  background-size: cover;
}
.img_inicio {
  height: 2000px;
}

.padre {
  background: rgb(25, 92, 119);
  height: 970px;
  display: flex;

  justify-content: center;
  /* justify-content: center; centraliza contenido */
  align-items: center;
  /* align-items: center; centraliza contenido respecto al contenedor */
}

.hijo {
  background-color: white;
  width: 360px;
  padding: 48px 40px 36px;
  position: absolute;
  border-radius: 20px;
  border-width: 1px;
  border-style: outset;
}
.cabeza {
  background-color: white;
  width: 400px;
  height: 530px;
  position: absolute;
  border-width: 1px;
  border-style: outset;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
}
.img-portada {
  height: 60px;
  padding: 2px;
}
