.imagen{
  
    width: 100%;
    height: 400px;
  
  }
.img_fondo{
    width: 100%;
    height: 100%;

}

.artista_titulo{
  width: 100%;
  text-align: center;

}
.article-header{
  text-align: center;
}
.especificacion{
  margin-top: 50px;

}
.descripcion{
  margin-top: 50px;

}