.imagen {
  width: 100%;
  height: 400px;
}
.img_fondo {
  width: 100%;
  height: 100%;
}

.artista_titulo {
  width: 100%;
  text-align: center;
}
.article-header {
  text-align: center;
}
.especificacion {
  margin-top: 50px;
}
.descripcion {
  margin-top: 50px;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;

  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.logo-image {
  width: 50px;
  height: 38px;
  overflow: hidden;
}

.has-error {
  color: #ff0000;
}
